---

import { db, Portfolio } from 'astro:db';
import TechList from './TechList.astro';

const data: Portfolio[] = await db.select().from(Portfolio);


interface Portfolio {
id: number
title: string
subtitle:  string
image:  string
goal:  string
text: string
}

---

<div class="wrap-container text-light">
{data.map((Portfolio ) =>
<a class="unstyle-a" href={`projects/${Portfolio.id}`}>
  <div id={`project-${Portfolio.id}`} class="card media-hover"> 
  <img src={Portfolio.image} class="card-image"/>
    <div class="card-content">
      <p class="card-name">{Portfolio.title}</p>
      <TechList portfolioId={Portfolio.id} />
    </div>
  </div>
  </a>
)}
</div>