---
import { db, eq, Portfolio } from 'astro:db';
import TechList from '../components/TechList.astro';
import Gallery from './ImageGallery.astro';
import LinkButton from './LinkButton.astro';

const {id} = Astro.props

const data = await db.select()
  .from(Portfolio)
  .where(eq(Portfolio.id, id));

---

<div class="project-section flex-center">
  {data.map((Portfolio ) =>
    <div class="text-light project-wrapper">
      <h1 class="text-gradient">{Portfolio.title}</h1>
      <LinkButton portfolioId={Portfolio.id} />
        <p class="text-bold">{Portfolio.subtitle}</p>
        <p>{Portfolio.goal}</p>
        <p>{Portfolio.text}</p>
        <div class="">
        <TechList portfolioId={Portfolio.id} />
        </div>
        </div>
  )}
  </div>

