---
import { db, eq, Portfolio } from 'astro:db';
import TechList from '../components/TechList.astro';
import Gallery from './ImageGallery.astro';
import LinkButton from './LinkButton.astro';

const {id} = Astro.props

const data = await db.select()
  .from(Portfolio)
  .where(eq(Portfolio.id, id));

---

<div class="text-light section">
  {data.map((Portfolio ) =>
    <div>
    <Gallery portfolioId={Portfolio.id} />
    </div>
      <h1 class="text-dark">{Portfolio.title}</h1>
        <p class="text-accent">{Portfolio.subtitle}</p>
        <p>{Portfolio.goal}</p>
        <p>{Portfolio.text}</p>
        <div class="flex-start wrap-container">
        <TechList portfolioId={Portfolio.id} />
        <LinkButton portfolioId={Portfolio.id} />
        </div>
  )}
  </div>
