---
import { db, eq, Portfolio } from 'astro:db';
import TechList from '../components/TechList.astro';
import Gallery from './ImageGallery.astro';
import LinkButton from './LinkButton.astro';

const {id} = Astro.props

const data = await db.select()
  .from(Portfolio)
  .where(eq(Portfolio.id, id));



---

<div class="text-light section">
  {data.map((Portfolio ) =>
    <h1 class="project-title">{Portfolio.title}</h1>
    <div> 
    <img src={Portfolio.image} class="project-image image-border"/>
    </div>
      <div class="project- ">
        <p class="project-subtitle">{Portfolio.subtitle}</p>
        <p>{Portfolio.goal}</p>
        <p>{Portfolio.text}</p>
        <TechList portfolioId={Portfolio.id} />
        <LinkButton portfolioId={Portfolio.id} />
        <Gallery portfolioId={Portfolio.id} />
      </div>
  )}
  </div>